<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC
   "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
   "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<description>Nuxeo Embed Demo</description>

    <listener>
    	<listener-class>org.nuxeo.ecm.web.embedded.NuxeoEmbeddedLoader</listener-class>
    </listener>
    
	<filter>
		<filter-name>tx-injector</filter-name>
		<filter-class>org.nuxeo.ecm.web.embedded.TxInjectorFilter</filter-class>
		<init-param>
			<param-name>nuxeo-client</param-name>
			<param-value></param-value>
			<description>The nuxeo client base directory</description>
		</init-param>
	</filter>
	
   <filter>
       <filter-name>nx-injector</filter-name>
       <filter-class>org.nuxeo.ecm.web.embedded.NuxeoFilter</filter-class>
   </filter>

	<servlet>
		<servlet-name>root-handler</servlet-name>
		<servlet-class>org.nuxeo.ecm.web.embedded.NuxeoServlet</servlet-class>
		<init-param>
			<param-name>nuxeo-client</param-name>
			<param-value></param-value>
			<description>The nuxeo client base directory</description>
		</init-param>
		<init-param>
			<param-name>handler</param-name>
			<param-value>org.nuxeo.ecm.web.embedded.demo.FetchRootServletHandler</param-value>
			<description>The  servlet handler</description>
		</init-param>

	</servlet>

    <servlet>
    	<servlet-name>root</servlet-name>
    	<servlet-class>org.nuxeo.ecm.web.embedded.demo.FetchRootServlet</servlet-class>
    </servlet>
    
    <filter-mapping>
		<filter-name>tx-injector</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet-mapping>
		<servlet-name>root-handler</servlet-name>
		<url-pattern>/root-handler</url-pattern>
	</servlet-mapping>

	<filter-mapping>
		<filter-name>nx-injector</filter-name>
		<url-pattern>/root</url-pattern>
	</filter-mapping>
	
	<servlet-mapping>
		<servlet-name>root</servlet-name>
		<url-pattern>/root</url-pattern>
	</servlet-mapping>
	
</web-app>
